body {
    margin: 0;
    padding: 0;
    min-height: 100dvh;
    overflow-x: hidden;
    font-family: "Oswald", serif;
    font-weight: bold;
}


canvas {
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 0;
}

a {
    color: #ff0000;
    text-decoration: none; /* This removes the underline */
    text-shadow: -1px 1px rgb(0, 0, 0);
}

.pattern {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: 0;
    pointer-events: none;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 350px;
    margin: 0 auto;
    padding: 20px 0;
    box-sizing: border-box;
    text-align: center;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;

}

.logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto 24px auto;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description {
    line-height: 1.5;
    border-radius: 0px;
    color: #ffffff;
    text-shadow: -1px 1px rgb(0, 0, 0);
    background-color: #000000;
    border-radius: 20px;
    border: 1px solid #ffffff; /* Adds a thin white border */
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.1em; /* Adjust the size as needed */
    width: 100%
}

/* filepath: /workspaces/4bstr.github.io/style.css */
.form-container {
    width: 100%;
    height: 470px;
}

.links {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 140px));
    gap: 16px;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;

}

@media (max-width: 600px) {
    .links {
        grid-template-columns: minmax(140px, 100px);
    }
}

.link {
    background-color: #000000;
    padding: 12px 16px;
    border-radius: 0px;
    text-decoration: none;
    color: #ffffff;
    display: grid;
    grid-template-columns: 24px 1fr;
    align-items: center;
    gap: 12px;
    transition: all 0.2s ease;
    text-align: left;
    border: 1px solid #ffffff; /* Adds a thin white border */

}

.link:hover {
    background-color: #000000;
    color: #FF0202;
    border: 1px solid #FF0202;

}

.link i {
    text-align: center;
}


.container::-webkit-scrollbar {
    width: 8px;
}

.container {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.3) rgba(0, 0, 0, 0.1);
}

.container::-webkit-scrollbar {
    width: 8px;
}

.container::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

.container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

.small-font {
    font-size: 0.8em; /* Adjust the size as needed */
}

.large-font {
    font-size: 1.3em; /* Adjust the size as needed */
}